<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
          </ion-buttons>
      <ion-title>
        AquaForm 
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Dicas de musculação:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lembre-se de sempre procurar um profissional na área antes de tomar qualquer decisão.
    </ion-card-content>

  </ion-card>
  
</ion-content>
