<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
    <ion-title>
      AquaForm 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card id="atim">

    <form [formGroup]="postagem" (ngSubmit)="postarProduto()">


      <ion-card-header>
        Adicione um evento:
      </ion-card-header>

      <ion-item>
        <ion-label position="floating"> Nome: </ion-label>
        <ion-input placeholder="Digite seu nome" formControlName="nome" [(ngModel)]="nome"> </ion-input>
      </ion-item>

      <!--
      <ion-item>
        <ion-label position="floating"> Selecione seu ano de nascimento </ion-label>
        <ion-datetime displayFormat="YYYY" placeholder="Selecione seu ano de nascimento" formControlName="ano"
          [(ngModel)]="ano"> </ion-datetime>
      </ion-item> -->

      <ion-item>
        <ion-label position="floating"> Email: </ion-label>
        <ion-input placeholder="Digite sua email:" formControlName="email" [(ngModel)]="email"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Senha: </ion-label>
        <ion-input placeholder="Digite sua senha:" formControlName="senha" [(ngModel)]="senha"> </ion-input>
      </ion-item>

      <!-- Categorias -->
      <ion-item>
        <ion-label position="floating"> Selecione sua categoria </ion-label>
        <ion-select value="13" okText="Ok" cancelText="Cancelar" formControlName="categoria" [(ngModel)]="categoria">
          <ion-select-option *ngFor="let dado of categorias" value=" {{dado.idcategoria}} "> {{dado.categoria}} </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Provas -->
      <ion-item>
        <ion-label position="floating"> Selecione as provas que você nada. </ion-label>
        <ion-select formControlName="prova" [(ngModel)]="prova" multiple="true">
          <ion-select-option *ngFor="let dado of provas" value=" {{dado.idprova}} "> {{dado.prova}} {{dado.piscina}} </ion-select-option>
        </ion-select>
      </ion-item> 



      <ion-card-content>
        <ion-button type="submit" fill="outline" slot="end"> Cadastrar </ion-button>
      </ion-card-content>

    </form>

  </ion-card>

</ion-content>

<!-- Categorias
              <ion-item>
                <ion-label position="floating"> Selecione as provas que você nada </ion-label> 
                <ion-select value="13" okText="Ok" cancelText="Cancelar"  formControlName="prova" [(ngModel)]="prova">
                    <ion-checkbox *ngFor="let dado of provas">  {{dado.prova}} {{dado.piscina}}  </ion-checkbox>
                </ion-select>
              </ion-item>
              
               Provas 
              <ion-item *ngFor="let dado of provas">
                  <ion-label> </ion-label>
                  <ion-checkbox slot="start"> {{dado.prova}} {{dado.piscina}} </ion-checkbox>
                </ion-item> -->