<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
          </ion-buttons>
      <ion-title>
        AquaForm 
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

    <ion-card id="atim">

        <form [formGroup]="postagem" (ngSubmit)="postarProduto()">
    
    
            <ion-card-header>
                <ion-card-subtitle> Adicionar </ion-card-subtitle>
                <ion-card-title> Prova </ion-card-title>
              </ion-card-header>
    
          <!-- Provas -->
          <ion-item>
            <ion-label position="floating"> Selecione as provas que você nada. </ion-label>
            <ion-select formControlName="prova" [(ngModel)]="prova" multiple="true">
              <ion-select-option *ngFor="let dado of provas" value=" {{dado.idprova}} "> {{dado.prova}} {{dado.piscina}} </ion-select-option>
            </ion-select>
          </ion-item> 
    
    
    
          <ion-card-content>
            <ion-button type="submit" fill="outline" slot="end"> Adicionar </ion-button>
          </ion-card-content>
    
        </form>
    
      </ion-card>

</ion-content>
