<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
        </ion-buttons>
    <ion-title>
      AquaForm 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Competições</ion-card-subtitle>
      <ion-card-title>Proximas competições</ion-card-title>
    </ion-card-header>

    <!-- <ion-searchbar placeholder="Digite o local" (ionInput)="getItems($event)"></ion-searchbar> -->
    <ion-searchbar placeholder="Digite o local"></ion-searchbar>

    <ion-grid id="tabela">
        <ion-row>
          <ion-col>
            <div>
              DATA
            </div>
          </ion-col>
          <ion-col>
            <div>
              LOCAL
            </div>
          </ion-col>
          <ion-col>
            <div>
              PARTICIPAR?
            </div>
          </ion-col>
        </ion-row>

          <ion-row *ngFor="let dado of dados">
            <ion-col>
              <div>
                {{dado.data}}
              </div>
            </ion-col>
            <ion-col>
              <div>
                {{dado.nome}}
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-button fill="outline" slot="end" (click)="participar(dado.idcompeticao)">Quero</ion-button>
              </div>
            </ion-col>
          </ion-row>
      </ion-grid>

</ion-card>

</ion-content>