<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button (click)="botaoSair()">
        <ion-icon slot="icon-only" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> AquaForm </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-item>
        <!--<ion-avatar slot="start">
            <ion-img [src]=""></ion-img>
        </ion-avatar>-->

      <ion-card-header *ngFor="let dado of provas">
        <ion-card-title> {{dado.nome}} </ion-card-title>
        <ion-card-subtitle> {{dado.categoria}}  </ion-card-subtitle>
      </ion-card-header>
      <ion-button fill="outline" slot="end" href="../edit-perfil/"> Editar perfil </ion-button>
      
    </ion-item>

  </ion-card>


    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Controle</ion-card-subtitle>
          <ion-card-title>Melhores tempos e metas</ion-card-title>
        </ion-card-header>

        <ion-grid id="tabela">
            <ion-row>
              <ion-col>
                <div>
                  PROVA
                </div>
              </ion-col>
              <ion-col>
                <div>
                  PISCINA
                </div>
              </ion-col>
              <ion-col>
                <div>
                  MELHOR TEMPO
                </div>
              </ion-col>
              <ion-col>
                  <div>
                    META
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    
                  </div>
                </ion-col>
            </ion-row>

            <ion-row *ngFor="let dado of dados">
                <ion-col>
                  <div>
                    {{dado.prova}} 
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    {{dado.piscina}} 
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    {{dado.tempo}}
                  </div>
                </ion-col>
                <ion-col>
                    <div>
                      {{dado.meta}}
                    </div>
                  </ion-col>
                  <ion-col>
                    <div>
                      <ion-icon name="create" (click)="alterar(dado.idprova)" color="primary"></ion-icon>
                      <ion-icon name="trash" (click)="Botaoexcluir(dado.idprova)" color="danger"></ion-icon>
                    </div>
                  </ion-col>
              </ion-row>
          </ion-grid>

          <ion-card-content>
            <ion-button fill="outline" slot="end" href="../add-provas/"> Adicionar prova </ion-button>
          </ion-card-content>

    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Controle</ion-card-subtitle>
        <ion-card-title> Próximas competições </ion-card-title>
      </ion-card-header>

      <ion-grid id="tabela">
        <ion-row>
          <ion-col>
            <div>
              DATA
            </div>
          </ion-col>
          <ion-col>
            <div>
              NOME
            </div>
          </ion-col>
          <ion-col>
            <div>
              VAI NADAR
            </div>
          </ion-col>      
        </ion-row>

        <ion-row *ngFor="let dado of competicoes">
            <ion-col>
              <div>
                {{dado.data}} 
              </div>
            </ion-col>
            <ion-col>
              <div>
                {{dado.nome}} 
              </div>
            </ion-col>
              <ion-col>
                <div>
                  {{dado.prova}}
                </div>
              </ion-col>
          </ion-row>
      </ion-grid>

  </ion-card>

</ion-content>
