<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab4"></ion-back-button>
        </ion-buttons>
    <ion-title>
      AquaForm 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card id="atim">

    <form [formGroup]="postagem" (ngSubmit)="alterPerfil()">


      <ion-card-header>
        Edite seu perfil:
      </ion-card-header>

      <ion-item *ngFor="let dado of provas">
        <ion-label position="floating" > Nome: </ion-label>
        <ion-input placeholder=" {{dado.nome}} " formControlName="novonome" [(ngModel)]="novonome"> </ion-input>
      </ion-item>

      <!-- Categorias -->
      <ion-item *ngFor="let dado of provas">
        <ion-label position="floating"> Selecione sua categoria </ion-label>
        <ion-select value="13" okText="Ok" cancelText="Cancelar" placeholder=" {{dado.categoria}} " formControlName="categoria" [(ngModel)]="categoria">
          <ion-select-option *ngFor="let dado of categorias" value=" {{dado.idcategoria}} "> {{dado.categoria}} </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Provas 
      <ion-item>
        <ion-label position="floating"> Selecione as provas que você nada. </ion-label>
        <ion-select  multiple="true">
          <ion-select-option *ngFor="let dado of provas" value=" {{dado.nome}} "> {{dado.nome}} </ion-select-option>
        </ion-select>
      </ion-item> -->

      <ion-card-content>
        <ion-button type="submit" fill="outline" slot="end"> Salvar alterações </ion-button>
      </ion-card-content>

    </form>
  </ion-card>
</ion-content>
