<ion-content>

    <ion-card id="atim">

        <ion-card-header>
            <ion-card-subtitle>Login</ion-card-subtitle>
            <ion-card-title>Entre ou cadastre-se</ion-card-title>
          </ion-card-header>
        <ion-list>

        <ion-item>
            <ion-label position="stacked"> Email: </ion-label>
            <ion-input type="email" [(ngModel)]="email"> </ion-input>
          </ion-item>
        </ion-list>

      <ion-list>
          <ion-item>
            <ion-label position="stacked"> Senha: </ion-label>
            <ion-input type="password" [(ngModel)]="senha"> </ion-input>
          </ion-item>
        </ion-list>
          <hr>
          <ion-button id="be" expand="block" color="primary" (click)="logar()">Entrar</ion-button><hr>
          <ion-button id="bc" expand="block" fill="outline" [routerLink]="'/cadastro'">cadastre-se</ion-button><hr>

    </ion-card>

</ion-content>