<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
        </ion-buttons>
    <ion-title>
      AquaForm 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card id="atim">

    <form [formGroup]="postagem" (ngSubmit)="cadastrarCompe()">


      <ion-card-header>
        Adicione um evento:
      </ion-card-header>

      <!-- Provas -->
      <ion-item>
        <ion-label position="floating"> Quais provas você deseja nadar? </ion-label>
        <ion-select formControlName="prova" [(ngModel)]="prova" multiple="true">
          <ion-select-option *ngFor="let dado of provas" value=" {{dado.idprova}} "> {{dado.prova}} {{dado.piscina}} </ion-select-option>
        </ion-select>
      </ion-item> 



      <ion-card-content>
        <ion-button type="submit" fill="outline" slot="end"> Cadastrar </ion-button>
      </ion-card-content>

    </form>

  </ion-card>

</ion-content>

<!-- Categorias
              <ion-item>
                <ion-label position="floating"> Selecione as provas que você nada </ion-label> 
                <ion-select value="13" okText="Ok" cancelText="Cancelar"  formControlName="prova" [(ngModel)]="prova">
                    <ion-checkbox *ngFor="let dado of provas">  {{dado.prova}} {{dado.piscina}}  </ion-checkbox>
                </ion-select>
              </ion-item>
              
               Provas 
              <ion-item *ngFor="let dado of provas">
                  <ion-label> </ion-label>
                  <ion-checkbox slot="start"> {{dado.prova}} {{dado.piscina}} </ion-checkbox>
                </ion-item> -->