<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label> Início </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="ios-bulb"></ion-icon>
      <ion-label> Dicas </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="md-paper"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>

  <ion-tab-button tab="tab4">
    <ion-icon name="person"></ion-icon>
    <ion-label>Perfil</ion-label>
  </ion-tab-button>
</ion-tab-bar>

</ion-tabs>
