<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      AquaForm
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
          <ion-card-title>Dicas:</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Lembre-se de sempre procurar um profissional na área antes de tomar qualquer decisão.
        </ion-card-content>

        <ion-list lines="none">
            <ion-item href="../dica-alongamento/">
              <ion-icon slot="start" color="primary" name="md-body"></ion-icon>
              <ion-label>Alongamento</ion-label>
            </ion-item>
            <ion-item href="../dica-treino/">
              <ion-icon slot="start" color="primary" name="ios-analytics"></ion-icon>
              <ion-label>Treinos</ion-label>
            </ion-item>
            <ion-item href="../dica-musculacao/">
              <ion-icon slot="start" color="primary" name="fitness"></ion-icon>
              <ion-label>Musculação</ion-label>
            </ion-item>
            <ion-item href="../dica-suplemento/">
                <ion-icon slot="start" color="primary" name="restaurant"></ion-icon>
                <ion-label>Suplementos</ion-label>
              </ion-item>
          </ion-list>

    </ion-card>
      
</ion-content>
