<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      AquaForm
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            Eventos da Semana:
        </ion-card-header>
        <ion-card-content>
          <canvas #barCanvas></canvas>
        </ion-card-content>
        <ion-card-content>
            Você tem 1 evento essa semana:
            <ion-button fill="outline" slot="end" href="../agenda/">Ver</ion-button>
          </ion-card-content>
      </ion-card>

    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Competições</ion-card-subtitle>
          <ion-card-title>Proximas competições</ion-card-title>
        </ion-card-header>

        <ion-grid id="tabela">
            <ion-row>
              <ion-col>
                <div>
                  DATA
                </div>
              </ion-col>
              <ion-col>
                <div>
                  LOCAL
                </div>
              </ion-col>
            </ion-row>

            <ion-row *ngFor="let dado of dados">
                <ion-col>
                  <div>
                    {{dado.data}}
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    {{dado.nome}}
                  </div>
                </ion-col>
              </ion-row>
          </ion-grid>

        <ion-card-content>
          Ver lista de todas as competições:
          <ion-button fill="outline" slot="end" href="../competicao/">Ver</ion-button>
        </ion-card-content>
    </ion-card>

</ion-content>

<!--<ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Ionic Documentation</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/building/scaffolding">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Scaffold Out Your App</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/layout/structure">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Change Your App Layout</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/theming/basics">
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <ion-label>Theme Your App</ion-label>
    </ion-item>
  </ion-list>-->
