<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      AquaForm
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="postagem" (ngSubmit)="postarProduto()">

    <ion-card>
        <ion-card-header>
            Adicione um evento:
        </ion-card-header>

        <ion-item>
          <ion-label position="floating"> Inicio do compromisso </ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Selecione a data" formControlName="inicio" [(ngModel)]="inicio"> </ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Horário do compromisso </ion-label>
          <ion-datetime placeholder="Horário" displayFormat="h:mm A" minuteValues="0,5,10,15,20,25,30,35,40,45,50,55" formControlName="horario" [(ngModel)]="horario"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Tipo de compromisso: </ion-label>
          <ion-input placeholder="Ex: aula, treino" formControlName="tipo" [(ngModel)]="tipo"> </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Descrição: </ion-label>
          <ion-input placeholder="Faça uma descrição do evento" formControlName="descricao" [(ngModel)]="descricao"> </ion-input>
        </ion-item>
        
      </ion-card>

      <ion-card-content>
        <ion-button type="submit" fill="outline" slot="end"> Adicionar evento </ion-button>
      </ion-card-content>

    </form>

</ion-content>

