<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="tabs/tab4"></ion-back-button>
        </ion-buttons>
    <ion-title>
      AquaForm 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
      <ion-card-header>
        <ion-card-subtitle> Provas </ion-card-subtitle>
        <ion-card-title> Informe seus melhores tempos nas provas </ion-card-title>
      </ion-card-header> 
  </ion-card>

    <form [formGroup]="postagem">

      <ion-card id="atim" *ngFor="let dado of dados">

      <ion-card-header>
        <ion-card-subtitle> Tempo </ion-card-subtitle>
        <ion-card-title> {{dado.nome}} </ion-card-title>
      </ion-card-header>

      <ion-item >
          <ion-label> Min: </ion-label>
          <ion-select okText="Ok" cancelText="Cancelar" formControlName="minu" [(ngModel)]="minu">
            <ion-select-option value=" {{min}} " *ngFor="let min of minutos"> {{min}} </ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
          <ion-label >Seg: </ion-label>
          <ion-select okText="Ok" cancelText="Cancelar" formControlName="segu" [(ngModel)]="segu">
            <ion-select-option value=" {{sec}} " *ngFor="let sec of segundos"> {{sec}} </ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
          <ion-label >Dec: </ion-label>
          <ion-select okText="Ok" cancelText="Cancelar" formControlName="deci" [(ngModel)]="deci">
            <ion-select-option value=" {{dec}} " *ngFor="let dec of decimos"> {{dec}} </ion-select-option>
          </ion-select>
          <!--<ion-datetime placeholder="Meta" displayFormat="mm:ss"></ion-datetime>-->
      </ion-item>
      
    </ion-card>

    <!--METAS-->

    <ion-card id="atim" *ngFor="let dado of dados">

        <ion-card-header>
          <ion-card-subtitle> Meta </ion-card-subtitle>
          <ion-card-title> {{dado.nome}} </ion-card-title>
        </ion-card-header>
  
        <ion-item >
            <ion-label> Min: </ion-label>
            <ion-select okText="Ok" cancelText="Cancelar" formControlName="metaminu" [(ngModel)]="metaminu">
              <ion-select-option value=" {{min}} " *ngFor="let min of minutos"> {{min}} </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label >Seg: </ion-label>
            <ion-select okText="Ok" cancelText="Cancelar" formControlName="metasegu" [(ngModel)]="metasegu">
              <ion-select-option value=" {{sec}} " *ngFor="let sec of segundos"> {{sec}} </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label >Dec: </ion-label>
            <ion-select okText="Ok" cancelText="Cancelar" formControlName="metadeci" [(ngModel)]="metadeci">
              <ion-select-option value=" {{dec}} " *ngFor="let dec of decimos"> {{dec}} </ion-select-option>
            </ion-select>
            <!--<ion-datetime placeholder="Meta" displayFormat="mm:ss"></ion-datetime>-->
        </ion-item>
        
      </ion-card>

    </form>


  <ion-card-content>
      <ion-button type="submit" fill="outline" (click)="insertTempo()" slot="end"> Salvar alterações </ion-button>
    </ion-card-content>

</ion-content>
