<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        <ion-label [routerLink]="'../tabs/tab1'"> voltar </ion-label>
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>   

</ion-content>